<div class="app-grid-list-mat">
    <mat-grid-list [cols]="grid.colspan" [rows]="grid.rowspan" [rowHeight]="grid.rowHeight"
        [gutterSize]="grid.gutterSize" cdkDropList (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal">
        <mat-grid-tile [class.mat-elevation-z8]="true" *ngFor="let grdData of grid.data" [colspan]="grdData.cols"
            [rowspan]="grdData.rows" [style.background]="grdData.color" cdkDrag>
            {{grdData.text}}
            <div class="grid-tile-handle" cdkDragHandle>
                <svg width="26px" fill="currentColor" viewBox="0 0 26 26">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
